[Desktop Entry]
Name=Classic Gamepad
Name[es_ES]=Classic Gamepad
Comment=Use the classic controller as joystick device
Comment[es_ES]=Usa el classic controller como dispositivo joystick
X-Authors=L. Donnie Smith <cwiid@abstrakraft.org>
X-Version=0.6.00
Icon=controller.svg
Type=Wiican Mapping
Encoding=UTF-8
