[Desktop Entry]
Name=Neverball
Name[es]=Neverball
Comment=Control ball with accelerómeter
Comment[es]=Controla la bola con el acelerómetro
X-Authors=L. Donnie Smith <cwiid@abstrakraft.org>
X-Version=0.6.00
Icon=neverball.png
Type=Wiican Mapping
Encoding=UTF-8
