[Desktop Entry]
Name=Nunchuk Mouse
Name[es_ES]=Ratón con Nunchuk 
Comment=Control mouse events with nunchuk accelerometer and C+Z buttons
Comment[es]=Controla eventos de ratón con el acelerómetro del nunchuk y los botones C+Z
X-Authors=J. Félix Ontañón <felixonta@gmail.com>
X-Version=0.3.0
Icon=nunchukmouse.svg
Type=Wiican Mapping
Encoding=UTF-8
