Source: wiican
Section: utils
Priority: extra
Maintainer: J. Félix Ontañón <felixonta@gmail.com>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python-support (>= 0.5.3),
 python-dev (>= 2.3.5-11), gettext
Standards-Version: 3.8.3
Homepage: http://launchpad.net/wiican

Package: wiican
Architecture: any
Depends: ${misc:Depends}, ${python:Depends}, gnome-bluetooth, wminput, python-gtk2,
 python-yaml, python-dbus, upstart
XB-Python-Version: ${python:Versions}
Description: Simple wiimote usage assistant and mapping manager
 Wiican it's an user-friendly systray application for use 
 and configure wiimote (or Wii remote controller).
 On backend it's wminput , the cwiid event driver for wiimote. 
 .
 It tracks if the needed bluetooth adapter it's available and drives
 the user into the process of connect/disconnect wiimote
 .
 A mapping manager it's supplied for edit and create  multiple wiimote
 configurations.
