[Desktop Entry]
Name=Wiimote Mouse
Name[es]=Ratón con wiimote
Comment=Control mouse events with accelerometer and A+B buttons
Comment[es]=Controla eventos de ratón con acelerómetro y los botones A+B
X-Authors=J. Félix Ontañón <felixonta@gmail.com>
X-Version=0.3.0
Icon=gnome-mouse
Type=Wiican Mapping
Encoding=UTF-8
